# Database configuration (Neon DB PostgreSQL URL)
# Example: postgresql://neondb_owner:password@ep-cool-snowflake-12345.us-east-2.aws.neon.tech/neondb?sslmode=require
DATABASE_URL="postgresql://user:password@host/dbname?sslmode=require"

# Redis caching configuration (Upstash Redis URL)
# Example: rediss://default:password@cool-redis-12345.upstash.io:6379
REDIS_URL="rediss://default:password@host:port"
